{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "comma-spacing": [2, {
      "before": false,
      "after": true
    }],
    semi: ["error", "always"]
  },
  "globals":{
    "window": true,
    "document": true
  }
}
